<!	DOCTYPE html>
<html xmlns:*="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.rg">
<head>
<title>Cadastro de cervejas</title>
</head>
<body>
	<form id="" method="POST">
		<span th:text="${mensagem}"></span>
		<br />
		
		<label for="sku">SKU:</label>
		<input type="text" name="sku" id="sku" /> 

 		<label for="nome">Nome:</label>
		<input type="text" name="nome" id="nome" />
		
		<label for="descricao">Descricao:</label>
		<input type="text" name="descricao" id="descricao" /> 

		<input type="submit" value="Submit" id="button-1" />
	</form>
</body>

</html>